header {
  background-color: rgba(37, 36, 36, 0.3);
}

.nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.nav .nav-item {
  margin-right: 20px;
}

.nav .nav-item:last-child {
  margin-right: 40px;
}